stages:
  - core
  - docker
  - test

# Build the theme
build-theme:
  stage: core
  script: |
    echo "== Compiling theme =="
    cd system/templates/base
    npm ci || npm install
    npm run prod || npm run production
  artifacts:
    paths:
      - system/templates/base/dist
    expire_in: 1 day

# Include the steps for docker and playwright
include:
  # Build the Docker image
  - component: $CI_SERVER_FQDN/2pisoftware/pipelines/docker/build@v1.3.0
    inputs:
      stage: docker
      auto_platforms: true # build ARM on main/develop

  # Run Playwright tests
  - component: $CI_SERVER_FQDN/2pisoftware/pipelines/playwright/test@v1.0.6
    inputs:
      image: mcr.microsoft.com/playwright:v1.49.0-jammy
      directory: ./test/playwright/
      test_results_dir: ./test/playwright/test-results
      run_cmd: npm run build && npm run test --reporter=list,junit
      wait_on: http-get://test-website

# Add dependencies to the docker build
docker-build:
  dependencies:
    - build-theme

# Run the Playwright tests
playwright-test:
  services:
    # Database
    - name: mysql:8.0
      alias: cosine-db
      command: [ "--default-authentication-plugin=mysql_native_password" ]
    # Cosine
    - name: $DOCKER_TAG
      alias: test-website
  variables:
    FF_NETWORK_PER_BUILD: 1
    # CI_DEBUG_SERVICES: "true"
    TEST_HOST: http://test-website
    TEST_PORT: 80
    TIMEOUT: 40_000
    ENVIRONMENT: development
    MYSQL_ROOT_PASSWORD: cosine
    MYSQL_HOST: cosine-db
    DB_HOST: cosine-db
    MYSQL_DATABASE: cosine
    DB_DATABASE: cosine
    MYSQL_USER: cosine
    DB_USERNAME: root
    MYSQL_PASSWORD: cosine
    DB_PASSWORD: cosine
  dependencies:
    - docker-build
    - build-theme
  
